@media screen and (min-width: 480px){
  /*HEADER*/

  #header .container{
    padding: 0 5%;
  }
  #header{
    height: 50px;
  }
  

  /*JUMBOTRON*/

  #jumbotron .container{
      padding: 1% 5%;
  }

  #jumbotron .row{
      justify-content: space-between;
  }

  #jumbotron .col:first-child {
      width: calc(100% / 3*2 - 10px);
    }

  #jumbotron .col {
      width: calc(100% / 3 - 10px);
    }

    /*STYLE*/

  #jumbotron .button{
    padding: 10px;
  }

  #jumbotron .card{
    padding-bottom: 5px;
  }

    /*STRATEGY*/

    #strategy .container{
      padding: 3% 10%;
    }



    /*TESTIMONIALS*/

    #testimonials .container{
      padding: 5% 10%;
    }
    
    #testimonials .card{
      display: flex;
      align-items: center;
    }


    #testimonials .text{
      margin: auto;
    }
    

    /*STYLE*/


    #testimonials .card .text{
      text-align: start;
      margin-left: 40px;
    }


    #testimonials .img{
      margin-bottom: 0;
      margin-top: 0;
      width: 100%;
      line-height: 100%;
      vertical-align: middle;
    }

    #testimonials img{
      object-position: -40px;
      vertical-align: middle;
    }

      /*BENEFIT*/

      #benefit .container{
        padding: 5% 10%;
      }

      #benefit .row{
        justify-content: space-between;
      }

      #benefit .col{
        width: calc(100% / 2 - 20px);
        margin: 10px 10px;
      }

      /*STYLE*/

      #benefit .button{
        padding: 5px;
      }

      /*ABOUT US*/

      #about-us .container{
        padding: 5% 10%;
      }

      #about-us .row{
        display: flex;
        align-items: flex-start;
      }

      #about-us .row .col:first-child{
        width: 60%;
        padding: 0 50px;
      }

      #about-us .row>.col:last-child{
        width: 40%;
      }

      #about-us .row,
      #about-us .col{
        margin: 0;
      }

      /*STYLE*/



      #about-us .button{
        width: 90%;
      }

      #about-us .cit img{
        width: 100%;
      }
      
      #about-us .fa-solid{
        left: 80%;
      }

      /*START*/

      #start .container{
        padding: 5% 30%;
      }

      /*FOOTER*/

      footer .container{
        padding: 0 30%;
      }
}



@media screen and (min-width: 768px){

    /*HEADER*/

    #header .container{
      padding: 0 20%;
    }
    #header{
      height: 50px;
    }
    

    /*JUMBOTRON*/

    #jumbotron .container{
        padding: 1% 20%;
    }

    #jumbotron .row{
        justify-content: space-between;
    }

    #jumbotron .col:first-child {
        width: calc(100% / 3*2 - 10px);
      }

    #jumbotron .col:first-child .card{
      display: flex;
    }

    #jumbotron .col {
        width: calc(100% / 3 - 10px);
      }

      /*STYLE*/

    #jumbotron .text{
      font-size: 0.8rem;

    }

    #jumbotron .title{
      font-size: 1rem;

    }

    #jumbotron .button{
      padding: 10px;
    }

    #jumbotron .fa-solid{
      font-size: 3rem;
    }

    #jumbotron .card{
      padding-bottom: 5px;
    }

      /*STRATEGY*/

      #strategy .container{
        padding: 3% 25%;
      }

      #strategy .row{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
      }

      #strategy>.container>.row>.col:last-child{
        width: 80%;
      }

      /*STYLE*/

      #strategy .purple .title{
        font-size: 1rem;
      }

      #strategy .purple .text > p{
        font-size: 0.8rem;
      }

      #strategy .white .title{
        font-size: 1rem;
      }
      #strategy .white .text > p{
        font-size: 0.8rem;
        font-weight: 500;
      }

      /*TESTIMONIALS*/

      #testimonials .container{
        padding: 5% 20%;
      }
      
      #testimonials .card{
        display: flex;
        align-items: center;
      }


      #testimonials .text{
        margin: auto;
      }
      

      /*STYLE*/

      #testimonials h3{
        font-size: 1rem;
    }

    #testimonials .title{
      font-size: 1.3rem;
    }

    #testimonials .text p{
      font-size: 0.8rem;
    }

      #testimonials .card .text{
        font-size: 0.8rem;
        text-align: start;
        margin-left: 40px;
      }

      #testimonials .fa-solid{
        font-size: 1rem;
      }

      #testimonials .img{
        margin-bottom: 0;
        width: 30%;
        line-height: 100%;
      }

      #testimonials img{
        object-position: -40px;
        vertical-align: middle;
      }

        /*BENEFIT*/

        #benefit .container{
          padding: 5% 20%;
        }

        #benefit .row{
          justify-content: space-between;
        }

        #benefit .col{
          width: calc(100% / 3 - 10px);
        }

        /*STYLE*/

        #benefit .number{
          font-size: 2rem;
        }

        #benefit .card .title{
          font-size: 1rem;
        }

        #benefit .card .text{
          font-size: 0.8rem;
        }

        #benefit .button{
          padding: 5px;
          font-size: 0.8rem;
        }

        /*ABOUT US*/

        #about-us .container{
          padding: 10% 20%;
        }

        #about-us .row{
          display: flex;
          align-items: center;
        }

        #about-us .row .col:first-child{
          width: 80%;
          padding: 0 50px;
        }

        #about-us .row>.col:last-child{
          width: 20%;
        }

        #about-us .row,
        #about-us .col{
          margin: 0;
        }

        /*STYLE*/

        #about-us .title{
          font-size: 3rem;
        }

        #about-us .text{
          font-size: 1rem;
        }


        #about-us .cit .title{
          font-size: 1.1rem;
        }

        #about-us .button{
          font-size: 0.8rem;
          width: 90%;
        }

        #about-us .cit img{
          width: 100%;
        }
        
        #about-us .fa-solid{
          left: 80%;
        }

        /*START*/

        #start .container{
          padding: 5% 30%;
        }

        /*FOOTER*/

        footer .container{
          padding: 0 30%;
        }
        

}