@media screen and (min-width: 480px){
  /*JUMBOTRON*/

    #jumbotron .row{
        justify-content: space-between;
    }

    #jumbotron .col:first-child {
        width: calc(100% / 3*2 - 10px);
      }

    #jumbotron .col {
        width: calc(100% / 3 - 10px);
      }

      /*TESTIMONIALS*/
      
      #testimonials .card{
        display: flex;
        align-items: center;
      }

      #testimonials img{
        width: 20%;
        margin-right: auto;
      }

      #testimonials .text{
        margin: auto;
      }

      /*BENEFIT*/

      #benefit .row{
        justify-content: space-between;
      }

      #benefit .col{
        width: calc(100% / 2 - 10px);
      }

      /*ABOUT US*/

      #about-us .row{
        display: flex;
        align-items: center;
      }

      #about-us .row>.col:first-child{
        width: 80%;
      }

      #about-us .row>.col:last-child{
        width: 20%;
      }

      #about-us .col *{
        margin-bottom: 20px;
      }

      #about-us .row,
      #about-us .col{
        margin: 0;
      }
}



@media screen and (min-width: 768px){

    /*HEADER*/

    #header .container{
      padding: 0 20%;
    }

    /*JUMBOTRON*/

    #jumbotron .container{
        padding: 5% 20%;
    }

    #jumbotron .row{
        justify-content: space-between;
    }

    #jumbotron .col:first-child {
        width: calc(100% / 3*2 - 10px);
      }

    #jumbotron .col {
        width: calc(100% / 3 - 10px);
      }

      /*STRATEGY*/

      #strategy .container{
        padding: 5% 25%;
      }

      #strategy .row{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
      }

      #strategy>.container>.row>.col:last-child{
        width: 80%;
      }

      /*TESTIMONIALS*/

      #testimonials .container{
        padding: 5% 20%;
      }
      
      #testimonials .card{
        display: flex;
        align-items: center;
      }

      #testimonials img{
        width: 20%;
        margin-right: auto;
      }

      #testimonials .text{
        margin: auto;
      }

        /*BENEFIT*/

        #benefit .container{
          padding: 5% 20%;
        }

        #benefit .row{
          justify-content: space-between;
        }

        #benefit .col{
          width: calc(100% / 3 - 10px);
        }

        /*ABOUT US*/

        #about-us .container{
          padding: 5% 20%;
        }

        #about-us .row{
          display: flex;
          align-items: center;
        }

        #about-us .row>.col:first-child{
          width: 80%;
        }

        #about-us .row>.col:last-child{
          width: 20%;
        }

        #about-us .col *{
          margin-bottom: 20px;
        }

        #about-us .row,
        #about-us .col{
          margin: 0;
        }

}