/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*UTILS*/

:root{
    --primary-color: #9792e4;
    --secondary-color: #b5ddff;
    --third-color: #0084fd;
    --fourth-color: white;
    --text-color: #5a6e7f;
    --card-padding: 20px;
    --main-margin: 20px 0;
}


/*GENERAL*/

.purple{
    background-color: var(--primary-color);
}

.white{
    background-color: var(--fourth-color);
}

/*HEADER*/

#header{
    height: 100px;
    background-color: var(--third-color);
}

#header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

/*JUMBOTRON*/

#jumbotron .container{
    height: 100%;
    padding: 10%;
}

#jumbotron .row{
    display: flex;
    flex-wrap: wrap;
}

#jumbotron .col{
    width: 100%;
    margin: var(--main-margin);
}

#jumbotron .card{
    background-color: var(--secondary-color);
    text-align: center;
    padding: var(--card-padding);
}

/*STRATEGY*/


#strategy .container{
    height: 100%;
    padding: 10%;
}

#strategy .row{
    display: flex;
    flex-wrap: wrap;
}

#strategy .col{
    width: 100%;
    margin: var(--main-margin);
}

#strategy .card{
    text-align: center;
    padding: var(--card-padding);
    margin: var(--main-margin);

}


/*TESTIMONIALS*/

#testimonials .container{
    height: 100%;
    padding: 10%;
    text-align: center;
}

#testimonials .row{
    display: flex;
    flex-wrap: wrap;
}

#testimonials .col{
    width: 100%;
    margin: var(--main-margin);

}

#testimonials .card{
    margin: var(--main-margin);
    padding: var(--card-padding);
}

/*BENEFIT*/

#benefit .container{
    height: 100%;
    padding: 10%;
    text-align: center;
}

#benefit .row{
    display: flex;
    flex-wrap: wrap;
}

#benefit .col{
    width: 100%;
    margin: var(--main-margin);

}

#benefit .card{
    margin: var(--main-margin);
    padding: var(--card-padding);
    text-align: left;
}

/*ABOUT US*/

#about-us .container{
    height: 100%;
    padding: 10%;
}

#about-us .container *{
    margin: var(--main-margin) 0;
}