/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

a{
    color: inherit;
}


/*UTILS*/

:root{
    --primary-color: #9792e4;
    --secondary-color: #b5ddff;
    --third-color: #0084fd;
    --fourth-color: white;
    --text-color: #5a6e7f;
    --card-padding: 30px;
    --main-margin: 20px 0;
    --title-font-size: 1.7rem;
}


/*GENERAL*/

.purple{
    background-color: var(--primary-color);
}

.white{
    background-color: var(--fourth-color);
}

.card{
    border-radius: 50px;
}

.center{
    text-align: center;
}

.text{
    line-height: 2;
}



/*HEADER*/

#header{
    height: 100px;
    background-color: var(--third-color);
}

#header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.fa-bars{
    font-size: var(--title-font-size);
    color: white;
    cursor: pointer;
}

/*JUMBOTRON*/

#jumbotron .container{
    height: 100%;
    padding: 10%;
}

#jumbotron .row{
    display: flex;
    flex-wrap: wrap;
}

#jumbotron .col{
    width: 100%;
    margin: var(--main-margin);
}

#jumbotron .card{
    background-color: var(--secondary-color);
    padding: var(--card-padding);
    border-radius: 20px;
}

#jumbotron .container .row .col:first-child .card{
    padding-bottom: 0;

}

/*STYLE*/

#jumbotron .title{
    color: var(--third-color);
    font-weight: bold;
    font-size: var(--title-font-size);
    margin: var(--main-margin);
    margin-top: 0;
}

#jumbotron .text{
    color: var(--text-color);
    margin: var(--main-margin);
    margin-top: 0;
    font-weight: 500;
    font-size: 1.1rem;
}

#jumbotron .button{
    color: white;
    background-color: #0084fd;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    width: 70%;
    letter-spacing: 3px;
    margin: var(--main-margin);
    margin-top: 0;
}

#jumbotron img{
    width: 100%;
}

#jumbotron .fa-solid{
    color: #0084fd;
    font-size: 4rem;
    margin: var(--main-margin);
    margin-top:0;
}

/*STRATEGY*/


#strategy .container{
    height: 100%;
    padding: 5%;
}

#strategy .row{
    display: flex;
    flex-wrap: wrap;
}

#strategy .col{
    width: 100%;
}

#strategy .card{
    padding: var(--card-padding);
}

#strategy>.container>.row>.col:last-child>.card{
    text-align: center;
}


/*STYLE*/

#strategy .purple img{
    width: 100%;
    margin: var(--main-margin);
    margin-top: 0;
}

#strategy .purple .title{
    color: var(--fourth-color);
    font-size: 1.5rem;
    margin: 40px 0;
}

#strategy .purple .text > p{
    color: var(--fourth-color);
    font-weight: 400;
    font-size: 1.1rem;
    margin: var(--main-margin);
}

#strategy .card{
    border-radius: 50px;
}

#strategy .white img{
    width: 80%;
    margin: var(--main-margin);
    margin-top: 0;
}

#strategy .white .title{
    color: #111111;
    font-size: 1.2rem;
    margin: var(--main-margin);
}

#strategy .white .text p{
    font-weight: 100;
    margin: var(--main-margin);
}

#strategy .button{
    line-height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: auto;
    text-align: center;
    cursor: pointer;
}

#strategi .fa-solid{
    vertical-align: middle;
}

/*TESTIMONIALS*/

#testimonials .container{
    height: 100%;
    padding: 10%;
    text-align: center;
}

#testimonials .row{
    display: flex;
    flex-wrap: wrap;
}

#testimonials .col{
    width: 100%;
    margin: var(--main-margin);

}

#testimonials .card{
    margin: var(--main-margin);
    padding: var(--card-padding);
}


/*STYLR*/

#testimonials h3{
    font-weight: 300;
}

#testimonials .title{
    color: var(--primary-color);
    font-size: 1.7rem;
    margin: 40px 0;
}

#testimonials .text p{
    color: #111111;
    font-weight: 400;
    font-size: 1.3rem;
    margin: var(--main-margin);
}

#testimonials .img{

    width: 80%;
    aspect-ratio: 1;
    line-height: 258.55px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}

#testimonials img{
    width: 160%;
    vertical-align: middle;
    object-position: -75px;
}

#testimonials .card .text{
    color: var(--fourth-color);
    font-size: 1.3rem;
    margin: var(--main-margin);
}

#testimonials .fa-solid{
    margin: 10px;
    font-size: 1.8rem;
}

#testimonials .quote{
    color: var(--fourth-color);
    font-size: 1.5rem;
    font-weight: 500;
}





/*BENEFIT*/

#benefit .container{
    height: 100%;
    padding: 10%;
    text-align: center;
}

#benefit .row{
    display: flex;
    flex-wrap: wrap;
}

#benefit .col{
    width: 100%;
    margin: var(--main-margin);

}

#benefit .card{
    margin: var(--main-margin);
    padding: var(--card-padding);
    text-align: left;
    border-radius: 20px;
}

/*STYLE*/

#benefit .title{
    
    color: var(--fourth-color);
    font-size: 2.5rem;
    margin: 40px 0;

}

#benefit .number{
    color: var(--primary-color);
    font-size: 4rem;
}

#benefit .card .title{
    color: var(--primary-color);
    font-size: 2rem;

}

#benefit .card .text{
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.3rem;
    margin: var(--main-margin);

}

#benefit .button{
    color: var(--fourth-color);
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 25px;
    text-align: center; 
    width: 50%;
    letter-spacing: 3px;
    font-weight: 500;
}

/*ABOUT US*/

#about-us .container{
    height: 100%;
    padding: 10%;
}

#about-us .container *{
    margin: var(--main-margin) 0;
}

/*GET START*/

#start .container{
    height: 100%;
    padding: 10%;
    text-align: center;
}

#start .container *{
    margin: var(--main-margin) 0;
}

/*footer*/

footer{
    background-color: #333333;
    height: 200px;
}

footer .container{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--fourth-color);
}